# Backend
SERVER_NAME=localhost:8000
SERVER_HOST=http://${SERVER_NAME}
BACKEND_CORS_ORIGINS=["*"]
PROJECT_NAME="Chota Backend"
SECRET_KEY=ABCDEFGHIJLKALSKAFJS12981C1MC912C21C9N182NC1982C1C1N1NC
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=xxxxxxxxxxxx


# Postgres (for later production)
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
DATABASE_URL =
DB_DEBUG_MODE=false


# Database (using SQLite for development)
USE_SQLITE=true
SQLITE_DATABASE_URI=sqlite:///./test.db



